

<%= @shop_domain.inspect %>

<%= link_to "Test", theme_automate_path(shop: @shop_domain) %>




<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				<div>
					Welcome to Product Tags Translator.
				</div>
			</h3>
			<h4 class="text-center">
				**Please read this instruction before start using our app **<br />In order to use our app, you need to modify the theme file (mostly, collection-tag.liquid). <br />There are three options to modify your theme file. <br />
			</h4>

			<blockquote>
				<p>
					1. We provide the automated modification by our app which we support 8 themes. <span>You can click at this button to let we modify your theme automatically. But this method only support themes file without modification before.</span>
				</p>
				<p>
					<%= link_to "Automate update theme", theme_automate_path(shop: @shop_domain), class: "btn btn-primary" %>
				</p>
			</blockquote>
			<blockquote>
				<p>
					2. You can modify the theme manually if you understand our app syntax. You can read the instruction here.
				</p>
			</blockquote>
			<blockquote>
				<p>
					3. We also provide support to modify your custom theme manually with some fee. <span>Our service starts at $25 and might be increase depends on the complexity your custom theme. You can contact us here (แสดง email) </span>
				</p>
			</blockquote>						

		</div>
	</div>
</div>