
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				<div>
					Welcome to Product Tags Translator.
				</div>
			</h3>
			<h4 class="text-center">
				**Please read this instruction before start using our app **<br /><br />
				In order to use our app, you need to modify the theme file. 
				<br />There are three options to modify your theme file. <br />
			</h4>

			<blockquote>
				<p>
					1. Our app currently support 8 themes. You can click at this button to let the app modify your theme automatically. But this method only support themes without modification before. Here are the themes that are currently support auto modification. Boundless, Brooklyn, Debut, Minimal, Pop, Simple, Supply, Venture.  If your theme does not list here or your theme has been modified before. Please ask your developer to modify your theme by reading the instruction <%= link_to "here","http://www.solutionsify.com/instructions-product-tags-translator/" %> </span>
				</p>
				<p>
					<%= link_to "Automate update theme", theme_automate_path(shop: @shop_domain), class: "btn btn-primary" %>
				</p>
			</blockquote>
			<blockquote>
				<p>
					2. If your theme does not list above as a support theme. You can contact us to modify your theme to use with our app. Here is the email <%= mail_to 'support@solutionsify.com','support@solutionsify.com' %></span>
				</p>
			</blockquote>						
		</div>

	</div>
	<div class= "row">
		<div class="col-md-12 text-center">
			 <%= link_to "Go to dashboard", root_path(shop: @shop_domain), class: "btn btn-primary" %>
		</div>		
	</div>
</div>