

<%= @shop_domain.inspect %>

<%= link_to "Test", theme_automate_path(shop: @shop_domain) %>




<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h3 class="text-center">
				<div>
					Welcome to Product Tags Translator.
				</div>
			</h3>
			<h4 class="text-center">
				**Please read this instruction before start using our app **<br />In order to use our app, you need to modify the theme file (mostly, collection-tag.liquid) . There are three options to modify your theme file.
			</h4>
			<ol>
				<li>
					Lorem ipsum dolor sit amet
				</li>
				<li>
					Consectetur adipiscing elit
				</li>
				<li>
					Integer molestie lorem at massa
				</li>
				<li>
					Facilisis in pretium nisl aliquet
				</li>
				<li>
					Nulla volutpat aliquam velit
				</li>
				<li>
					Faucibus porta lacus fringilla vel
				</li>
				<li>
					Aenean sit amet erat nunc
				</li>
				<li>
					Eget porttitor lorem
				</li>
			</ol>
		</div>
	</div>
</div>