<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi <%= @shop_name %></h3>
    <p>
      I am Parnsind from <b>Product Tags Translator app</b>. Thanks for installing our app. If you need any help or have ask any questions. Please let me know.
    </p> 
    <br> 
    <p>
	  Best,
	  Parnsind 
	</p>  
  </body>
</html>