<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi #{@shop_domain}</h1>
    <p>
      I am Parnsind from Product Tags Translator app. Thanks for installing our app. If you need any help or have ask any questions. Please let me know.

	  Best,
	  Parnsind 
    </p>
  </body>
</html>