
@import "bootstrap-sprockets";
@import "bootstrap";



.btn.disabled, .btn:disabled, .btn[disabled] {
    cursor: default;
    pointer-events: none;
    box-shadow: none;
    background: #fafbfc;
    color: #c3cfd8;
    border: 1px solid #d3dbe2;
    outline: 0;
}


.btn-custom {
    background-color: #ffffff;
    color: #0078bd;
    border: 1px solid #d3dbe2;
}


h3 
{
display: inline;
}

table {
        width: 100%;
    }

thead, tbody, tr, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {

}

tbody {
    height: 500px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 50%;
    float: left;
}